VeryImportantCompanySecurity/Web References/DoorServiceReference/DoorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DoorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/DoorService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/DoorService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDoorService_GetFrontDoorValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFrontDoorValue" />
  </wsdl:message>
  <wsdl:message name="IDoorService_GetFrontDoorValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFrontDoorValueResponse" />
  </wsdl:message>
  <wsdl:message name="IDoorService_GetMiddleDoorValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMiddleDoorValue" />
  </wsdl:message>
  <wsdl:message name="IDoorService_GetMiddleDoorValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMiddleDoorValueResponse" />
  </wsdl:message>
  <wsdl:portType name="IDoorService">
    <wsdl:operation name="GetFrontDoorValue">
      <wsdl:input wsam:Action="http://tempuri.org/IDoorService/GetFrontDoorValue" message="tns:IDoorService_GetFrontDoorValue_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IDoorService/GetFrontDoorValueResponse" message="tns:IDoorService_GetFrontDoorValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMiddleDoorValue">
      <wsdl:input wsam:Action="http://tempuri.org/IDoorService/GetMiddleDoorValue" message="tns:IDoorService_GetMiddleDoorValue_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IDoorService/GetMiddleDoorValueResponse" message="tns:IDoorService_GetMiddleDoorValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDoorService" type="tns:IDoorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFrontDoorValue">
      <soap:operation soapAction="http://tempuri.org/IDoorService/GetFrontDoorValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMiddleDoorValue">
      <soap:operation soapAction="http://tempuri.org/IDoorService/GetMiddleDoorValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DoorService">
    <wsdl:port name="BasicHttpBinding_IDoorService" binding="tns:BasicHttpBinding_IDoorService">
      <soap:address location="http://localhost:8080/DoorService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>