VeryImportantCompanySecurity/Web References/FloorServiceReference/FloorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetFloorPlateOneVal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFloorPlateOneValResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFloorPlateOneValResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFloorPlateTwoVal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFloorPlateTwoValResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFloorPlateTwoValResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFloorPlateThreeVal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFloorPlateThreeValResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFloorPlateThreeValResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFloorPlateFourVal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFloorPlateFourValResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFloorPlateFourValResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>