VeryImportantCompanySecurity/Web References/WindowServiceReference/WindowService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WindowService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8282/WindowService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8282/WindowService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWindowService_GetWindowOneVal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWindowOneVal" />
  </wsdl:message>
  <wsdl:message name="IWindowService_GetWindowOneVal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWindowOneValResponse" />
  </wsdl:message>
  <wsdl:message name="IWindowService_GetWindowTwoVal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWindowTwoVal" />
  </wsdl:message>
  <wsdl:message name="IWindowService_GetWindowTwoVal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWindowTwoValResponse" />
  </wsdl:message>
  <wsdl:portType name="IWindowService">
    <wsdl:operation name="GetWindowOneVal">
      <wsdl:input wsam:Action="http://tempuri.org/IWindowService/GetWindowOneVal" message="tns:IWindowService_GetWindowOneVal_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWindowService/GetWindowOneValResponse" message="tns:IWindowService_GetWindowOneVal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWindowTwoVal">
      <wsdl:input wsam:Action="http://tempuri.org/IWindowService/GetWindowTwoVal" message="tns:IWindowService_GetWindowTwoVal_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWindowService/GetWindowTwoValResponse" message="tns:IWindowService_GetWindowTwoVal_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWindowService" type="tns:IWindowService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWindowOneVal">
      <soap:operation soapAction="http://tempuri.org/IWindowService/GetWindowOneVal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWindowTwoVal">
      <soap:operation soapAction="http://tempuri.org/IWindowService/GetWindowTwoVal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WindowService">
    <wsdl:port name="BasicHttpBinding_IWindowService" binding="tns:BasicHttpBinding_IWindowService">
      <soap:address location="http://localhost:8282/WindowService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>